<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name="com.notes.app.Notes"
            android:networkSecurityConfig="@xml/net_configs"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
                android:exported="true"
                android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!--
                To support automatic redirection to the app during email verification flow
                TODO: Auto verify doesn't work because assetlinks.json is not created
                https://fancynotesdevtest.firebaseapp.com/.well-known/assetlinks.json
            -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="@string/verification_server_domain"
                    android:pathPrefix="@string/verification_path"/>
            </intent-filter>

        </activity>
    </application>

</manifest>