<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:name="com.serhii.apps.notes.Notes"
        android:allowBackup="false"
        android:icon="@drawable/app_icon"
        android:label="${appLabel}"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:remove="appComponentFactory">

        <!-- App activities  -->
        <activity
            android:name="com.serhii.apps.notes.activities.SettingsActivity"
            android:exported="false"
            android:theme="@style/NoActionbarTheme" />

        <activity
            android:name="com.serhii.apps.notes.activities.AuthorizationActivity"
            android:exported="false"
            android:theme="@style/NoActionbarTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name="com.serhii.apps.notes.activities.NotesViewActivity"
            android:theme="@style/NoActionbarTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>